extends layout

block styles
    link(rel='stylesheet', href='./styles/login.css')

append scripts
    script.
        var error = '#{error}';
        var csrfToken = '#{csrfToken}';
        var challenge = '#{challenge}';
    script(src='./scripts/login.js')

block content
    include login.html
